<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Upload Interface</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style2.css')}}">
</head>

<body>
    <nav class="navbar">
        <div class="logo">TALKBOOK</div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/socials">Socials</a></li>
        </ul>
    </nav>

    <div class="content">
        <h1>WOULD YOU LIKE TO CONVERT </h1>
       
        <div class="buttons">
            <button><a href="/pdfnew">PDF</a></button>
            <button><a href="/page2">TEXT</a></button>
        </div>
    </div>
   
</body>

</html>
