<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text-to-Audio Converter</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
</head>

<body>
    

        <main>
            <section class="hero">
                <div class="hero-content">
                    <h1>TALKBOOK</h1>
                    <p>Experience your text come alive with emotion!</p>
                    <a href="/choose" class="get-started-btn">Get Started</a>
                    <!-- <button class="get-started-btn" > <a href="choose.html"></a>Get Started</button> -->
                </div>
            </section>
        </main>
    </div>

    <!-- JavaScript function to redirect to page2.html -->
    <script>
        function redirectTochoose() {
            // Redirect to page2.html
            window.location.href = 'choose.html';
        }
    </script>
</body>

</html>
